alembic==1.12.1
annotated-types==0.5.0
APScheduler==3.10.4
backports.zoneinfo==0.2.1
bcrypt==3.2.0
cachetools==5.4.0
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
exceptiongroup==1.2.2
Flask==2.2.5
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
flask-sqlalchemy==3.0.5
google-api-core==2.19.1
google-auth==2.33.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpcio==1.62.3
grpcio-status==1.62.3
gunicorn==23.0.0
idna==3.7
importlib-metadata==6.7.0
importlib-resources==5.12.0
iniconfig==2.0.0
itsdangerous==2.1.2
jinja2==3.1.4
Mako==1.2.4
MarkupSafe==2.1.5
packaging==24.0
passlib==1.7.4
pluggy==1.2.0
proto-plus==1.24.0
protobuf==4.24.4
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.3
pydantic-core==2.14.6
PyJWT==2.8.0
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2024.1
requests==2.31.0
rsa==4.9
six==1.16.0
SQLAlchemy==2.0.32
tomli==2.0.1
typing-extensions==4.7.1
tzdata==2024.1
tzlocal==5.1
urllib3==2.0.7
Werkzeug==2.2.3
zipp==3.15.0
